*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Oswald", sans-serif;
    src: url(./static/MerriweatherSans-Regular.ttf);
}
ul a{
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 5px;
    gap: 30px;
    color: black;
}
.band{
    margin: 30px;
}
.fixed-top{
    position: sticky;
    top: 0;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    font-family: "Oswald", sans-serif;
    background-color: white;
    color: black;
    position: sticky;
}
header{
    background-image: linear-gradient(rgba(47, 43, 43, 0.7),rgba(87, 81, 81, 0.7)), url(./image/bg-masthead.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;
flex-direction: column;
color: white;
text-align: center;
gap: 20px;
font-family: "Oswald", sans-serif;
}
.divider{
    width: 60px;
    height: 3px;
    background-color:#F4623A;
   border: none;
}
.btn{
    padding: 20px;
    background-color: #F4623A;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    width: 15%;
}
.about{
    background-color: #F4623A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    gap: 20px;
}
.div{
    
    background-color: white;
}
.bt{
    background-color: white;
    color: black;
    text-align: center;
}
.features{
    display: flex;
    justify-content: center;
    padding: 20px 50px;
}
.Service{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    flex-direction: column;
    gap: 20px;
}
.feature-box{
    text-align: center;
}
.feature-box i{
    font-size: 3rem;
    color: #F4623A;
    margin-bottom: 15px;
}
.portfolio{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   margin: 0;
   padding: 0;
}
.protfolio-box{
box-sizing: border-box;

margin: 0;
padding: 0;
max-width: 33.33%;
}

.protfolio-box img{
    width: 100%;
    height: auto;
    display: block;
    margin:  0 auto;
}
.download{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background-color: #212529;
    width: 100%;
    padding: 100px 50px;
}
.download h2{
    color: white;
}
.section-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 250px 200px;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
}
.section-form p{
    color: #6C757D;
}
.forms {
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.forms input, .forms textarea{
width: 100%;
max-width: 600px;
padding: 15px;
margin-bottom: 20px;
border-radius: 8px;
border: 1px solid #6C757D;
box-sizing: border-box;

}
.forms textarea{
    height: 150px;
    resize: none;
}
.forms div{
    width: 100%;
    max-width: 600px;
}
.forms button{
 padding: 20px;
    background-color: #F4623A;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    width: 60%;

}
.forms input:focus, .forms textarea:focus {
    outline: none; 
    border-color: #f4623a; 
    box-shadow: 0 0 5px rgba(244, 98, 58, 0.5); 
}
.footer{
    background-color: #F8F9FA;
    padding: 40px 50px;
    display: flex;
   justify-content: center;
   color: #6C757D;
   
}